
    .tickets_list {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
    }



@media (min-width: 678px) { 

    .tickets_list {
        position: absolute;
        right: 20px;
        top: 60px;
        left: 285px;

        div.ant-alert .ant-alert-error.ant-alert-error-noicon {
        position: absolute;
        top: -200px;
        left: -260px;
    }
    }

    

}
