
    .tickets-list {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;

        .show-more {
        background-color: #2196F3;
        color: #ffffff;
        padding: 15px 20px;
        border-radius: 5px;
        margin-top: 5px;
        
        &-text {
            background-color: #2196F3;
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.5px;
            text-align: center;
        }
}
    }



@media (min-width: 678px) { 

    .tickets-list {
        position: absolute;
        right: 20px;
        top: 60px;
        left: 285px;

        div.ant-alert .ant-alert-error.ant-alert-error-noicon {
        position: absolute;
        top: -200px;
        left: -260px;
    }
    }

}
